* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: lightskyblue;
  width: 100%;
  height: 15vh;
}

.hcontainer {
  display: flex;
  width: 85%;
  height: 15vh;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 6%;
  height: 70%;
}

.logoimg {
  width: 100%;
  height: 100%;
}

.navigasi-btn {
  display: flex;
  list-style: none;
}

.navigasi-btn li {
  margin-left: 24px;
}

.navigasi-btn a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

main {
  height: 80vh;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mContainer1 {
  height: 60%;
  width: 40%;
  margin-top: -5%;
}

.mtext p {
  font-size: 24px;
  font-weight: 500;
  padding-top: 10px;
  margin-top: -60px;
  justify-content: center;
  text-align: center;
}

.kotakdaftar {
  border: 3px solid black;
  border-radius: 10px;
  margin: auto;
  margin-top: 40px;
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn-daftar {
  background-color: lightskyblue;
  border: 2px solid white;
  border-radius: 20px;
  width: 60%;
  padding: 5px 0;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.btn-daftar:hover {
  background-color: black;
  border: 2px solid lightskyblue;
  color: lightskyblue;
}

footer {
  background-color: lightskyblue;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ftext {
  font-size: 12px;
}
