* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: lightskyblue;
  width: 100%;
  height: 15vh;
  position: relative;
  box-shadow: 0px 2px 4px 2px rgba(40, 40, 40, 0.5);
  -webkit-box-shadow: 0px 2px 4px 2px rgba(40, 40, 40, 0.5);
  -moz-box-shadow: 0px 2px 4px 2px rgba(40, 40, 40, 0.5);
}

.hcontainer {
  display: flex;
  width: 85%;
  height: 15vh;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 6%;
  height: 70%;
}

.logoimg {
  width: 100%;
  height: 100%;
}

.navigasi-btn {
  display: flex;
  list-style: none;
}

.navigasi-btn li {
  margin-left: 24px;
}

.navigasi-btn a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

main {
  height: 80vh;
  padding-top: 20px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    175deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 40%,
    lightskyblue 100%
  );
}

.text1 {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin-left: 8%;
}

.text1 h2 {
  margin: 16px 0;
}

.img1 {
  display: flex;
  width: 90%;
  margin: auto;
}

.imgdalam {
  width: 40%;
  height: 40%;
  margin-right: 4%;
  border-radius: 28px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.75);
}

.text2 {
  font-size: 28px;
}

.text2 ul {
  list-style-type: disc;
  font-size: 20px;
  margin-top: 20px;
}

.text2 li {
  margin-bottom: 20px;
}

.btn-pesan {
  background-color: lightskyblue;
  border: none;
  color: black;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

footer {
  background-color: lightskyblue;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ftext {
  font-size: 12px;
}
