* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: lightskyblue;
  width: 100%;
  height: 15vh;
  position: relative;
  box-shadow: 0px 2px 4px 2px rgba(40, 40, 40, 0.5);
  -webkit-box-shadow: 0px 2px 4px 2px rgba(40, 40, 40, 0.5);
  -moz-box-shadow: 0px 2px 4px 2px rgba(40, 40, 40, 0.5);
}

.hcontainer {
  display: flex;
  width: 85%;
  height: 15vh;
  margin: auto;
  /* overflow: hidden; */
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 6%;
  height: 70%;
}

.logoimg {
  width: 100%;
  height: 100%;
}

.navigasi-btn {
  display: flex;
  list-style: none;
}

.navigasi-btn li {
  margin-left: 24px;
}

.navigasi-btn a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

main {
  height: 80vh;
  padding-top: 20px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 32%,
    rgba(135, 206, 250, 1) 100%
  );
}

.containerA {
  border: 2px solid black;
  border-radius: 15px;
  height: 10%;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerA h3 {
  font-size: 24px;
}

.containerB {
  border: 2px solid black;
  border-radius: 15px;
  height: 80%;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
}

.isi-text {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  align-items: center;
}

.isi-text h2 {
  margin-right: 20%;
  font-size: 40px;
  margin-bottom: 25px;
  margin-top: 44px;
  margin-left: 2px;
}

.isi-text p {
  font-size: 20px;
  margin-left: 10px;
}

.cbimg {
  width: 32%;
  height: 90%;
}

footer {
  background-color: lightskyblue;
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ftext {
  font-size: 12px;
}
